<%- include('partials/header.ejs'); -%>

    <div class="container form-signin w-100 min-vw-100 " style="margin-top:73px;">
        <div class="container d-flex flex-column justify-content-center align-items-center">
            <form action="/add" method="post" class=" col-lg-4 ">
                <h1 class="pt-5 h3 mb-3 fw-normal text-center">Add book:</h1>

                <label for="author">Author:</label>
                <input class="form-control" type="text" name="author" placeholder="author" required>

                <label for="author">Title:</label>
                <input class="form-control" type="text" name="title" placeholder="title" required>

                <label for="isbn">ISBN:</label>
                <input class="form-control" type="text" name="isbn" placeholder="ISBN" required>

                <label for="author">Rating (1-10):</label>
                <input class="form-control" type="number" name="rating" placeholder="rating" min="1" max="10" required>
                <label for="author">Read date (in format yyyy-mm-dd):</label>
                <input class="form-control" type="text" name="read_date" placeholder="date" required>
                <label for="author">Review:</label>
                <textarea class="form-control" name="note" rows="10" cols="50" placeholder="Your review..."
                    required></textarea>
                <div class="mt-1 d-flex flex-row gap-1 align-items-center justify-content-center ">
                    <input type="submit" value="Add note" class=" btn  btn-primary col-2 bg-info">
                    <button onClick="location.href='/'" class="btn  btn-primary  col-2 bg-info"
                        style="border:none !important;">Nevermind</button>
                </div>
            </form>

        </div>
    </div>
    <script>
        $(".addPage").addClass("bg-info")
    </script>
    <%- include('partials/footer.ejs'); -%>